@import "./assets/styles/styles.scss";

body {
  color: $text-color;

  background-color: $bg-main;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  @include text;
}

.content {
  display: flex;
}

.pages {
  box-sizing: border-box;
  width: 85vw;
  height: 100vh;
  padding: 30px;
}
