@import "../../assets/styles/styles.scss";

.nav {
  width: 10%;
  height: 100vh;
  background-color: $bg-block;
  font-size: 90%;
  ul {
    width: 100%;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      padding: 5px 0 5px 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 3px;
      cursor: pointer;
      transition: 0.3s linear;
      opacity: 0.8;
      svg {
        font-size: 1vw;
      }
      &:hover {
        background-color: $color-page;
        opacity: 1;
      }
      a {
        color: $text-color;
      }
    }
  }
}
